$width: 600px;
@mixin phone {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$width}) {
    @content;
  }
}

.displayFlex {
    display: flex;
    flex: 1;
}

.card {
    @extend .displayFlex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 1s ease;
    animation-fill-mode: forwards;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 15px -6px #3f51b5;
    margin-bottom: 10px;
    @include phone {
      flex-direction: column;
      align-items: center;
  
    }
}


